# Formspree.io Configuration
# 
# To set up the inquiry form:
# 1. Sign up for a free account at https://formspree.io
# 2. Create a new form
# 3. Set the form email to: Shahabgeravesh@gmail.com
# 4. Copy your form endpoint URL (it will look like: https://formspree.io/f/YOUR_FORM_ID)
# 5. Paste it below and rename this file to .env.local
#
# Note: .env.local is ignored by git and will not be committed to the repository

NEXT_PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/YOUR_FORM_ID
